<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include("../_head.ejs", {title: "/home/index"}) %>
  </head>
  <body>

    <%- include("../_nav.ejs") %>

    <div class="container">
      <div class="starter-template">
        <h1>見出し</h1>
        <p class="lead"><br>
          fucking(´・ω・｀)
        </p>
        <p class="lead">
          <a type="button" class="btn btn-primary btn-lg" href="/account/login">"ログイン"</a>
        </p>
        <p>
        <p class="lead">
            <a type="button" class="btn btn-primary btn-lg" href="/account/registration">"アカウントを作成"</a>
        </p>

      </div>
    </div><!-- /.container -->
 
    <%- include("../_scripts.ejs") %>
  </body>
</html>